In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE,ADASYN
from sklearn.model_selection import KFold,GridSearchCV
from sklearn.neighbors import KNeighborsRegressor

# Imbalance Data Handling

In [8]:
data=pd.read_csv("C:\\R DATA SETS\\Bank_Imbalance.csv")
data.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,1
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,1
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,1
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

In [9]:
x=data.iloc[:,:7]
y=data.iloc[:,7]

In [10]:
y.value_counts()

1    2396
0     603
Name: y, dtype: int64

In [11]:
y.value_counts()/y.value_counts().sum()*100

1    79.893298
0    20.106702
Name: y, dtype: float64

In [17]:
smt=SMOTE()

In [19]:
x.shape

(2999, 7)

In [13]:
x_sm,y_sm=smt.fit_resample(x,y)

In [22]:
x_sm.shape

(4792, 7)

In [16]:
x_sm.value_counts()

age  duration  emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  nr_employed
55   207        1.1          93.994000       -36.400000     4.858000   5191.0         3
39   186       -1.8          92.893000       -46.200000     1.266000   5099.1         3
27   136       -1.8          92.893000       -46.200000     1.266000   5099.1         3
42   139        1.4          93.444000       -36.100000     4.963000   5228.1         3
35   253        1.4          93.444000       -36.100000     4.966000   5228.1         2
                                                                                     ..
34   160        1.4          93.907005       -42.546909     4.961046   5228.1         1
                             93.444000       -36.100000     4.970000   5228.1         1
     157        1.4          94.465000       -41.800000     4.960000   5228.1         1
     156        1.4          93.918000       -42.700000     4.968000   5228.1         1
88   796       -1.8          92.843000       -50.000000     1.663000   5099.1         1
Length: 4761, dtype: int64

In [24]:
y_sm.value_counts()

1    2396
0    2396
Name: y, dtype: int64

In [25]:
y_sm.shape

(4792,)

In [26]:
ada=ADASYN()

In [27]:
x_ad,y_ad=ada.fit_resample(x,y)

In [31]:
y_ad.value_counts()

0    2403
1    2396
Name: y, dtype: int64

# Hyper Paremeter Optimization

In [33]:
data=pd.read_csv("C:\\R DATA SETS\\Boston.csv")
data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [34]:
x=data.iloc[:,:12].values
y=data.iloc[:,12].values

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [37]:
params={"n_neighbors":[1,2,3,4,5,6,7,8,9,10]}
model=KNeighborsRegressor()
cval=KFold(n_splits=10)

In [38]:
gsearch=GridSearchCV(model,params,cv=cval)

In [40]:
results=gsearch.fit(x_train,y_train)

In [41]:
results.best_params_

{'n_neighbors': 5}